body
{
}


* {
	/*border: 1px solid red;*/
	font-family: "Microsoft YaHei" ! important;
}


.character{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 30%;
    margin: 0px, 0px, 0px, 0px;
}

pre{
    white-space: pre-wrap;
}

.job:hover{
    color:red;
}

.job{
    float: left;
}

.university{
    position: absolute;
    z-index : 4;
    top: 750px;
    left: 50px;
}

.major{
    position: absolute;
    z-index : 3;
    filter: alpha(opacity=40);
}